body{
    overflow: hidden scroll;
}
* {
    margin: 0;
    padding: 0;
}

.Navigation {
    background:
        radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),
        url(./bg_image.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.logo img {
    height: 180px;
    margin-top: -50px;
    margin-left: 127px;
}

#lang {
    height: 30px;
    width: 120px;
    text-align: center;
    background-color: #a6468300;
    color: white;
    font-size: 18px;
    font-family: serif;
    position: absolute;
    right: 270px;
    top: 33px;
    border-radius: 7px;

}

option {
    background-color: rgba(0, 0, 0);
}

#Sign {
    height: 30px;
    width: 80px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 18px;
    font-family: unset;
    align-items: flex-end;
    position: absolute;
    top: 33px;
    right: 165px;
    border-radius: 7px;
}

#transl {
    position: absolute;
    right: 370px;
    top: 40px;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 65px;

}

.details {
    position: relative;
    top: 123px;
    left: 423px;
    width: 650px;
    font-family: inherit;
}

.container {
    color: white;
    position: absolute;
    left: 298px;
    width: 889px;
    /* height: 200px; */
    text-align: center;
}

.start {
    top: 120px;
    position: relative;
    font-family: 'DM Sans Merlin';
    font-weight: bolder;
    font-size: 20px;
}

.start_redy {
    top: 120px;
    position: relative;
    font-family: system-ui;
    font-size: 17px;
}

.first > #email {
    top: 120px;
    position: relative;
    font-family: system-ui;
    font-size: 17px;
    width: 414px;
    left: -10px;
    height: 50px;
    border-radius: 7px;
    background-color: #66339900;
}

#get {
    top: 120px;
    position: relative;
    font-family: system-ui;
    font-size: 22px;
    width: 190px;
    left: -10px;
    height: 50px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding-bottom: 4px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.747);
    padding-left: 25px;
    font-size: 15px;
}

.watch {
    background-color: black;
    color: white;
    height: 2200px;
}

.lst {
    display: flex
;
    gap: 59px;
    justify-content: space-around;
    margin: 59px;
    position: relative;
    padding: 55px;
    left: 50px;
}

.movie {
    height: 220px;
    width: 288px;
    border-radius: 6px;

}

.m1 {
    background-image: url(./pushpa2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m2 {
    background-image: url(./Daaku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m3 {
    background-image: url(./squid_game.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m4 {
    background-image: url(./venom.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m5 {
    background-image: url(./bhool.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m6 {
    background-image: url(./black.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.m7 {
    background-image: url(./neramillai.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.watch h2 {
    position: relative;
    top: 40px;
    font-family: sans-serif;
    font-weight: 700;
    left: 150px;
}
.info h3{
    position: absolute;
    left: 150px;
}
.monitor {
    width: 150px;
    height: 100px;
    background: radial-gradient(circle at center, #ff0080, #550055, #16131a);
    border-radius: 10px;
    border: 4px solid #900030;
    position: relative;
    box-shadow: 0px 4px 10px rgba(255, 0, 128, 0.5);
}

.stand {
    width: 60px;
    height: 10px;
    background: linear-gradient(to bottom, #900030, #600020);
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    border-radius: 5px;
}

.base {
    width: 80px;
    height: 8px;
    background: linear-gradient(to bottom, #600020, #400010);
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    border-radius: 4px;
}
.reason{
    display: flex;
    gap: 45px;
    position: absolute;
    left: 150px;
    top: 1280px;
    padding: 7px;
    width: 1280px;
}
.description{
    background: linear-gradient(to bottom, #14132a, #1b162c, #251727);

    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.d1 h4{
    font-family: inherit;
    font-size: 22px;
    position: absolute;
    left: 2px;
    padding: 25px;
    font-weight: bold;

}
.d1 p{
    position: relative;
    top: 60px;
    padding: 20px;
    font-family: system-ui;
}
.desk_icon{
    position: absolute;
    bottom: 25px;
    left: 188px;
}
.d2 h4{
    font-family: inherit;
    font-size: 22px;
    /* position: absolute; */
    left: 2px;
    padding: 25px;
    font-weight: bold;

}
.d2 p{
    position: relative;
    top: -20px;
    padding: 20px;
    font-family: system-ui;
}
.down_icon{
        position: absolute;
        bottom: 25px;
        left: 512px;
}
.d3 h4{
    font-family: inherit;
    font-size: 22px;
    /* position: absolute; */
    left: 2px;
    padding: 25px;
    font-weight: bold;

}
.d3 p{
    position: relative;
    top: -20px;
    padding: 20px;
    font-family: system-ui;
}
.watch_icon{
    position: relative;
    left: 180px;
}
.d4 h4{
    font-family: inherit;
    font-size: 21px;
    /* position: absolute; */
    left: 2px;
    padding: 25px;
    font-weight: bold;

}
.d4 p{
    position: relative;
    top: -20px;
    padding: 20px;
    font-family: system-ui;
}
.kids_icon{
    position: relative;
    left: 180px;
    bottom: 30px;
}
.faq {
display: flex
;
    flex-direction: column;
    gap: 10px;
    color: white;
    justify-content: center;
    padding: 0px 120px;
    top: 420px;
    position: relative;
}

.accordion-item {
    background-color: rgb(45, 45, 45);
    border: none;
    margin-bottom: 10px;
    text-align: left;
}

.accordion-button {
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    text-align: left;
    border: none;
    box-shadow: none;
}

.accordion-button::after {
    content: '+';
    font-size: 30px;
    margin-left: auto;
    color: white;
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
    content: '-';
    transform: rotate(180deg);
}

.accordion-body {
    padding: 20px;
    background-color: rgb(35, 35, 35);
    color: white;
}
.mid{
    color: white;
    position: relative;
    text-align: center;
    bottom: -464px;
}
.foot{
    display: flex;
    justify-content: center;
    position: relative;
    top: 348px;
}
.foot > #email{
    top: 120px;
    position: relative;
    font-family: system-ui;
    font-size: 17px;
    width: 600px;
    left: -10px;
    height: 50px;
    border-radius: 7px;
    background-color: #66339900;
}
.foot_details{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    position: relative;
    top: 597px;
    justify-items: center;
    text-decoration: underline;
}
.q{
    position: relative;
    top: 575px;
    left: 96px;
}
.q span{
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration:underline ;
}
